@use 'font';

:root {
	overflow: hidden auto;
	scroll-behavior: smooth;
	scrollbar-width: thin;

	& body {
		position: absolute;
	}
}

body {
	overflow: hidden;
	width: 100dvw;
}

:where(:any-link) {
	--color: var(--v-theme-info);

	color: rgb(var(--color));
	text-decoration: none;

	transition: text-shadow 0.5s;

	& svg {
		transition: filter 0.5s;
	}

	&.active:hover {
		text-shadow: 0 0 0.8em rgba(var(--color), 0.8);

		& svg {
			filter: drop-shadow(0 0 0.2em rgba(var(--color), 0.8));
		}
	}
}
